.test_div {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.test_image {
    padding-top: 50px;
    width: 720px;
    height: auto;
    margin: 10px;
}
.test_button button {
    padding: 12px;
    margin: auto;
    width: 150px;
    height: auto;
    text-align: center;
}
.test_button {
    padding: 12px;
    text-align: center;
}
.test_description {
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}